.main-doctor-edit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-edit-form{
    margin-top: 20px;
}

.standard-doctor-edit-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: rgb(51, 153, 255);
    border-radius: 50px;
    color: whitesmoke;
    text-decoration: none;
    padding-top: 2px;
    border: none;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 18px;
}

.standard-doctor-delete-button{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: rgb(230, 0, 0);
    border-radius: 50px;
    color: whitesmoke;
    text-decoration: none;
    padding-top: 2px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
}

.standard-doctor-edit-button:hover{
    background-color: rgb(37, 127, 216);
}

.standard-doctor-delete-button:hover{
    background-color: rgb(208, 2, 2);
}

.add-patients-to-doctor-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background-color: rgb(0, 153, 51);
    border-radius: 50px;
    color: whitesmoke;
    text-decoration: none;
    padding-top: 2px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.add-patients-to-doctor-button:hover{
    background-color: rgb(7, 136, 50);
}

.doctor-dropdown-container{
    width: 50%;
}

.dropdown-patients{
    display: flex;
    flex-direction: column;
    align-items: center;
}
