.individual-doctor-container{
    width: 31.3%;
    box-sizing: border-box;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    border: solid 1px rgb(72, 72, 72);
    border-radius: 10px;
    background-color: whitesmoke;
}

.doctor-image{
    display: inline-block;
    width: 150px;
    height: 180px;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;

    border-radius: 10px;
}

.doctor-card-text-section{
    margin-top: 10px;
    width: 60%;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.doctor-card-name{
    font-size: 30px;

}

.doctor-specs{
    margin-top: 3px;
}

.doctor-specs-specialty{
    font-size: 20px;
    font-weight: bold;
}

.doctor-specs-department{
    margin-top: 9px;
    font-size: 15px;
    color: rgb(51, 51, 51);
}

.doctor-specs-contact{
    margin-top: 20px;
}

.doctor-card-buttons{
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
}

.doctor-view-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 20px;
    background-color: rgb(0, 153, 51);
    font-size: 18px;
    border-radius: 10px;
    color: whitesmoke;
    text-decoration: none;
    padding-top: 2px;
    border: none;
}

.doctor-edit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 20px;
    background-color: rgb(51, 153, 255);
    font-size: 18px;
    border-radius: 10px;
    color: whitesmoke;
    text-decoration: none;
    padding-top: 2px;
    border: none;
    margin-right: 100px;
}

.doctor-view-button:hover{
    background-color: rgb(7, 136, 50);
}

.doctor-edit-button:hover{
    background-color: rgb(37, 127, 216);
}

.doctor-link{
    text-decoration: none;
}